.modalBackground {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
